html{
    width:100%;
    height:100%;
    position: relative;
}
body{
    margin:0;
    padding: 0;
    height:100%;
    background: #dfdfdf;
}
.header{
    top:0;
    width: 100%;
    height: .9rem;
    background: #ffb607;
    height: .9rem;
    line-height: .9rem;
    position: fixed;
    top:0;
    z-index: 1000;
    color: #ffffff;
    font-size: .34rem;
    font-weight:bold;
}
.back2{
    width:.29rem;
    height:.44rem;

}
.car{
    width:3rem;
    height:100%;
    position:absolute;
    left:.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.car span{
    margin-left: .13rem;

}
.car a{
	color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.center{
    width: 3rem;
    height: 100%;
    text-align: center;
    position: absolute;
    left:50%;
    margin-left: -1.5rem;
    font-size: .34rem;
    color: #ffffff;
}
/*中间自适应*/
.country{
    width: 100%;
    position: absolute;
    top:.9rem;
    bottom: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
}

/*收货详情*/
.address{
	width: 100%;
	height: 1.8rem;
	background: #FFFFFF;
	margin-bottom: .05rem;
}
.address-1{
	width: 100%;
	height: .9rem;
	line-height: .9rem;
	font-size: .28rem;
	color: #000000;
	font-weight: bold;
}
.first{
	float:left;
	margin-left: .2rem;
}
.second{
	float:right;
	margin-right: .2rem;
}
.text-2{
	width: 7.06rem;
	height: .9rem;
	color: #000000;
	font-size: .28rem;
	font-weight: bold;
	margin: 0 auto;
}

.shop{
    width: 100%;
    height: .6rem;
    padding-top: .2rem;
    display: flex;
    flex-direction: row;
    position: relative;

}
.shoplist{
    width: .38rem;
    height: .38rem;
    margin-left: .4rem;
}
.shopname{
    font-size: .28rem;
    color: #000000;
    font-weight: bold;
    margin-left: .25rem;
    margin-right: .4rem;
}
.back{
    width: .18rem;
    height: .32rem;

}
.shop2{
    width: 100%;
    height:2.1rem;
    display: flex;
    flex-direction: row;
    position: relative;
}
.background{
    width: 2.4rem;
    height: 1.66rem;
    margin-left: .4rem;
}
.detail{
     width: 3.8rem;
     height:1.6rem;
     margin-left: .25rem;
     display: flex;
     flex-direction:column;
     position: absolute;
     right:.2rem;
     z-index: 10;
 }
.detail-title{
    color: #000000;
    font-size: .28rem;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    font-weight: bold;
    height: .8rem;
}
.text{
    color: #969696;
    font-weight: bold;
    font-size: .28rem;
    margin-top: .15rem;
    margin-bottom: .15rem;
}
.text2{
    font-size: .28rem;
    color: #ff4707;
    font-weight: bold;
}
.text2 em{
    font-size: .26rem;
    color:#969696;
    text-decoration:line-through;
    margin-left: .21rem;
}
.text2 cite{
    position: absolute;
    right:.4rem;
    font-size: .28rem;
    color: #000000;
    font-weight:bold;

}
.all2{
	width: 100%;
	height: auto;
	background: #ffffff;
	margin-bottom: .05rem;
}
/*微信*/
.weixin{
	width: 100%;
	height: .76rem;
	background: #ffffff;
	margin-bottom: .05rem;
	font-size: .28rem;
	color: #000000;
	font-weight: bold;
	line-height: .76rem;
}
.weixin span{
	float:left;
	margin-left: .2rem;
}
.weixin em{
	float:right;
	margin-right: .2rem;
	width:1.7rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}




.weixin3{
	width: 100%;
	height: .76rem;
	background: #ffffff;
	margin-bottom: .05rem;
	font-size: .28rem;
	color: #000000;
	font-weight: bold;
	line-height: .76rem;
}
.weixin3 span{
	float:left;
	margin-left: .2rem;
}
.weixin3 em{
	float:right;
	margin-right: .2rem;
	display: flex;
	flex-direction: row;
	color: #ff4707;
}
.weixin2{
	width: .36rem;
	height: .36rem;
	margin-right: .1rem;
	}
/*提交订单*/
.action{
	width: 100%;
	height: 1.12rem;
	position:fixed;
	bottom:0;
	display:flex;
	flex-direction: row;
}
.action div{
	width: 50%;
	height:1.12rem;
	line-height: 1.12rem;
	text-align: center;
	font-weight: bold;
}
.heji{
	font-size: .44rem;
	background: #ffffff;
}

.heji em{
	color: #ff612b;
}
.tijiao{
	font-size: .54rem;
	color: #ffffff;
	background: #ffb607;
}