
html{
    width:100%;
    height:100%;

}
body{
    margin:0;
    padding: 0;
    height:100%;
    background: #ffffff;
    overflow-x: hidden;
    position: relative;
}
.header{
    top:0;
    width: 100%;
    height: .9rem;
    background: #ffb607;
    height: .9rem;
    line-height: .9rem;
    position: fixed;
    top:0;
    z-index: 1000;
    color: #ffffff;
    font-size: .34rem;
    font-weight:bold;
    display: flex;
    flex-direction: row;
}

.header a{
    color: #ffffff;
}
.back2{
    width:.29rem;
    height:.44rem;

}
.car{
    width:3rem;
    height:100%;
    position:absolute;
    left:.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.car span{
    margin-left: .13rem;

}


/*中间自适应*/

/*下拉框*/
.search{
    width: 4.4rem;
    height: .44rem;
    border-bottom:2px solid #ffffff;
    margin-left:1.6rem;
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
    margin-right: .3rem;
}
.nice-select{
    width:1.12rem;
    height:.45rem;
    border-right: 2px solid #ffffff;
    background: url(../img/shop/select.png) no-repeat .8rem center ;
    background-size: .18rem .13rem;
    position: relative;
}

.nice-select input{
    display: block;
    width: 100%;
    height:.45rem;
    line-height: .45rem \9;
    border: 0;
    outline: 0;
    background: none;
    padding-left: .2rem;
}
.select-year{
    font-weight: bold;
    color: #ffffff;
    font-size: .26rem;
}
.nice-select ul{
    width:1.8rem;
    display: none;
    position: absolute;
    left: -1px;
    top:.45rem;
    overflow: hidden;
    background-color: #8e8e93;
    max-height:1.45rem;
    max-width: 1.8rem;
    z-index: 9999;
}

.nice-select ul li{
    height:.7rem;
    line-height:.7rem;
    width: 1.8rem;
    overflow: hidden;
    font-weight: bold;
    color: #ffffff;
    font-size: .36rem;
    padding-left: .2rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shops{
    width: .45rem;
    height: .45rem;
}
.goods{
    width: .43rem;
    height: .45rem;
}
.nice-select ul li span{
    padding-left: .1rem;
}

/*输入框*/
.get{
    width: 1.02rem;
    height: .46rem;
    background: #ffffff;
    border-radius:5px;
    text-align: center;
    line-height: .46rem;
    color: #ffb607;
    font-size: .32rem;
    margin-top: .22rem;
}
.wu{
    width: 3.61rem;
    height: 3.61rem;
    margin-top: 3rem;
    position: absolute;
    left: 50%;
    margin-left: -1.8rem;
}


.text10{
    width: 3rem;
    height: .4rem;
    overflow: hidden;
    line-height: .4rem;
    color: #ffffff;
    font-weight: bold;
    font-size: .28rem;
    background: #ffb607;
    margin-left:.16rem;
}
.text1{
    width: 100%;
    font-size: .34rem;
    text-align: center;
    font-weight: bold;
    color: #000000;
    position: absolute;
    top:7.2rem;
}
.text2{
    width: 100%;
    font-size: .34rem;
    text-align: center;
    font-weight: bold;
    color: #a2a1a1;
    position: absolute;
    top:7.8rem;
}

.text3{
    font-size: .34rem;
    font-weight: bold;
    color: #000000;
    width: 100%;
    height: .34rem;
    margin-top:1.2rem;
    margin-left: .2rem;
    margin-bottom: .3rem;

}
.layout{
    width: 90%;
    margin: 0 auto;
}
.layout span{
    display: inline-block;
    height: .7rem;
    background: #f5f5f5;
    border-radius:5px ;
    width: auto;
    text-align: center;
    line-height: .7rem;
    margin-right: .2rem;
    font-size: .26rem;
    color: #000000;
    font-weight: bold;
    padding-left: .2rem;
    padding-right: .2rem;
}
/*修改  placehoder 默认样式*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:#ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ffffff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#ffffff;
}　


